
body {
    background-color: ##FFFFFF;
    color: #9e1b32;
    font-family: 'Times New Roman', Times;
    margin: 0;
    padding: 0;
}

header {
    background-color: #9e1b32;
    padding: 10px 20px;
    color: #fff;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 20px;
}

nav li {
    display: inline;
}

nav a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

nav a:hover {
    color: #3498db;
}

main {
    padding: 20px;
}

h1 {
    font-size: 2.5em;
    margin-bottom: 10px;
    color: #2c3e50;
}

h2 {
    font-size: 2em;
    margin-top: 20px;
    color: #2c3e50;
}

p {
    font-size: 1.1em;
    line-height: 1.6;
    margin-bottom: 15px;
}

img {
    max-width: 100%;
    height: auto;
    border: 2px solid #ccc;
    border-radius: 5px;
    margin-bottom: 20px;
}

#contact {
    background-color: #FFF0F5;
    padding: 15px;
    border-radius: 5px;
    margin-top: 20px;
}

#contact ul {
    list-style-type: none;
    padding: 0
}

#contact li {
    margin-bottom: 10px;
}

footer {
    background-color: #9e1b32;
    color: #fff;
    text-align: center;
    padding: 10px;
    margin-top: 20px;
}

